<div class="container">
    <h1>Reset your password</h1>
    <p>
      Please provide your phone number below to receive a code for restoring access to your account.
    </p>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="+380 XX XXX XX XX" formControlName="phoneNumber" />
      <button type="submit" [disabled]="!resetForm.valid">CONTINUE</button>
    </form>
    <div class="links">
      <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a>
    </div>
  </div>
  